---
layout: page
title: Lifestyle
id: lifestyle
content-pages: true
nav: true
nav-order: 4

banner:
  title: Lifestyle
  title-sub: Die glücklichsten Menschen der Welt
  bg-pos: "background-position: 90% center;"
  opacity: "opacity: .8;"
  padding: "padding:8px;"

intro: "Warum sind die Finnen so glücklich? Liegt es am finnischen Superfood, den wilden Kräutern und Pilzen, den frischen und gesunden Öko-Lebensmitteln? Am finnischen Kaffee? Sind die weiten Landschaften für die Glückseligkeit verantwortlich oder doch das magische Licht im Norden? Das alles stimmt."

audio:

  - title: happy1
    id: one
    name: Tanja

  - title: happy2
    id: two
    name: Marjaana

  - title: happy3
    id: three
    name: Sara


sections:

  - title: Slow Food & Super Food
    id: one
    description: >
      <p class="text--lg">Slow Food ist aus der finnischen Küche nicht wegzudenken. Reine, gesunde Zutaten aus der Natur und der regionalen Bio-Landwirtschaft finden sich auf den Wochenmärkten leicht und sind reich an Vitaminen. Dank strenger Umweltauflagen sind finnische Lebensmittel sehr sauber; die kurze Wachstumsperiode nahe der Arktis macht sie besonders geschmacksintensiv. Neben den Superfoods wie Pfifferlinge und Blaueere, stehen junge Kartoffeln, Wildkräuter, Fisch und Wild auf dem Speiseplan und werden in Wild-Food-Restaurants auf Wunsch mit Bier aus Mikrobrauereien, arktischem Beerenwein oder Gin aus finnischem Roggen gereicht. Oder hätten Sie lieber Birkensaft oder Fichtenlimonade dazu?</p>


  - title: Beeren & Pilze sammeln
    id: two
    description: >
      <p class="text--lg">Es ist so etwas wie finnischer Nationalsport und wohl die köstlichste Art, der Natur näher zu kommen: das Sammeln von Pilzen und Beeren. Blaubeeren, Preiselbeeren und die goldenen Moltebeeren gehören zu den Superfoods, sie sind mit Omega 3 und Omega 6 Fettsäuren, gesunden Antioxidantien und Flavonoiden angereichert. Blaubeeren sind überall zu finden, vor allem im Juli und im August. Die finnische Moltebeere, lakka, wächst in den Sümpfen des Nordens und ist hellorange und säuerlich-frisch im Geschmack. Dank des Jedermannsrechts darf jeder überall sammeln gehen; die Pilzsaison geht von Mai bis November, wobei die besten Plätze oft als Familiengeheimnis gehütet werden. </p>


  - title: Die finnische Kaffeeliebe
    id: three
    description: >
      <p class="text--lg">Lange, dunkle Winter und heißer, dunkler Kaffee - ein unschlagbares Duo. Das finnische Nationalgetränk ist so beliebt, dass die Finnen davon mehr konsumieren als jede andere Nation, ganze 12 Kilo pro Kopf jährlich. Er wirkt als Stimmungsaufheller und ist Motor für soziale Interaktionen, wird gerne bei Festen genossen und ist für viele Finnen mit nostalgischen Erinnerungen beladen. Am liebsten wird der kahvi als helle Röstung getrunken, mit etwas Milch um die Säure zu dämpfen und einer süßen pulla dazu. Lokale Röstereien und Coffeeshops sind nicht nur in Helsinki verbreitet; dort bekommen Sie oft umsonst mehr Kaffee nachgeschenkt. So lassen sich die langen Winter gut überstehen, vor allem, wenn die kaffepaussi im finnischen Arbeitnehmerrecht verankert ist. </p>


  - title: Naturnahe Städte
    id: four
    description: >
      <p class="text--lg">Die Finnen haben ein ganz eigenes Verhältnis zur Natur. Es spiegelt sich in ihrem Volksepos, der Kalevala wieder, ein Werk voller Elementargeister. Diese Naturelemente sind auch der heutigen Großstadt nie allzu fern. So sitzt Helsinki auf einer Halbinsel im finnischen Schärenmeer, mit Wäldern und Grünflächen in ihrem Rücken. Im Sommer tauschen Finnen gerne Stadt für Land und machen Auszeit in einem Sommerhaus, einem mökki. Hier im Holzhaus, ohne fließendes Wasser oder Strom bekommt man einen anderen Blick auf das Leben und tritt in unmittelbaren Kontakt zur Natur. Machen Sie den Test - checken Sie in eine der vielen umweltfreundlichen Unterkünfte auf dem Land ein, die mit dem Label des Nordic Swan ausgezeichnet wurden und strenge Auflagen erfüllen.  </p>


  - title: Nachhaltigkeit als Lifestyle
    id: five
    description: >
      <p class="text--lg">Nachhaltigkeit hört in Finnland nicht beim Essen auf, es durchwirkt jeden Lebensbereich. So haben Finnen viel für das Konzept des Slow Travel übrig und ziehen die Fortbewegung per Bahn oder mit dem Rad vor und dank Leihstellen sind diese überall leicht zu bekommen. Nachhaltig sein heißt auch, richtig zu recyclen. Das finnische Pfandsystem ist hierbei höchst effizient. Reduktion von Energie steht genauso auf dem Programm und ist vor allem im Sommer sinnvoll, wenn Mitternachtssonne Lampen unnütz macht. Schließlich ist regionales, nachhaltiges Shopping bei den Finnen sehr beliebt mit Slow Fashion, die den Trends erhaben ist und mit Originalität und Langlebigkeit punktet. </p>


  - title: Jedermannsrecht
    id: six
    description: >
      <p class="text--lg">Das finnische Jedermannsrecht sieht vor, dass jeder Mensch sich frei in der Natur bewegen darf. Das schließt Wandern und Skifahren, Biken und Bootfahren ein, es dürfen auch Pilze, Beeren und Blumen gepflückt und Fische geangelt werden. Kurzfristiges Campen in der Natur ist ebenfalls erlaubt, vorausgesetzt, man hält eine angemessene Distanz zu bewohnten Häusern ein. Kurz gesagt: Was der Flora und Fauna nicht schadet, ist erlaubt. Behandeln Sie Ihr Umfeld mit Respekt, hinterlassen Sie keinen Müll, stören Sie keine Tiere und verleben Sie eine gute Zeit in Finnlands Natur.</p>


  - title: "Nichts besser als das: Sauna"
    id: seven
    description: >
      <p class="text--lg">Ganze drei Millionen Saunen sind im Land verteilt,  eine Sauna für jedes paar Einwohner. Um zu erfahren, warum die Finnen so glücklich sind, ist eine Runde schwitzen verbunden mit Abkühlung im nahen See unerlässlich. Im Winter darf der Saunagang dann mit einer Runde Eis-Schwimmen oder im Schnee wälzen kombiniert werden. So wird Entschlackung und Reinigung mit Anregung des Kreislaufs kombiniert. Und nach der Sauna? Saunanjälkeinen ist Ihr Kampfwort. So pur, rein und friedlich, wie Sie nach dem finnischen Schwitzen sind, können Sie so alles andere von sich weisen, Verständnis ernten und - durchatmen.</p>


  - title: Frei, sicher und unbeschwert
    id: eight
    description: >
      <p class="text--lg">Besonders nach dem letzten Jahr dürstet es uns alle danach, möglichst viel Freiheit zu erleben. Finnland erfüllt solche Wünsche mit Leichtigkeit. Das Land der tausend Seen ist zugleich das Land der tausend Wälder und bietet prozentual die größte Waldfläche Europas neben der größten von Wasser bedeckten Fläche aller Länder weltweit. Auch an Inseln mangelt es nicht: Finnlands Küste hat mindestens 20.000 davon, die groß genug für ein Sommerhaus sind. Und wenn Sie sich einmal doch in einer Stadt finden sollten, können Sie sich unbeschwert bewegen. Im sichersten Land der Welt ist wenig zu befürchten - und verloren gegangene Geldbörsen und Handys werden immer wieder an ihre rechtmäßige Besitzer zurückgebracht. </p>


  - title: Magisches Licht
    id: nine
    description: >
      <p class="text--lg">Im Sommer sind es die weißen Tage, die von Mai bis August ständiges Sonnenlicht verheißen. Im Winter sind es die magischen Nordlichter, die zwischen September und März fast jede zweite Nacht den Nachthimmel zieren. Vor allem Finnisch-Lappland ist das Land des Lichtes, dort steht die Sonne an mehr als zwei aufeinanderfolgenden Monaten über dem Horizont. Wie kann man sich in diesem endlosen, faszinierenden Licht nicht glückselig fühlen? Das Rezept ist einfach: Raus aufs Land, die frische Luft atmen, in der sonnenhellen Nacht einige Bahnen im See ziehen und die allerleuchtete Stille genießen.</p>




---


<div class=" vpad--xxl bg--black theme--dark" >
  <div class="container ">
    <div class="width width--lg text text--xl text--center">
      <div class="h h--md bv-divider text--pink"">Warum Finnen so glücklich sind </div>
      <div class="space--sm"></div>
      <div class="text text--xl ">{{page.intro}} </div>
      <div class="space--xxs"></div>
    </div>
    <div class="row row--md-4-4-4 row--sm-6-6 row--gutters">
      {% for audio in page.audio %}

      <div class="col">
        <div id="bv-overlay-{{audiobook.num}}" class=" img img--circle" style="transform: scale(.7); background-image: url({{site.img}}/pages/lifestyle/audio/{{audio.id}}.jpg);">
        </div>

          <div class="h h--sm text--center" style="margin-top: -30px;">{{audio.name}}</div>
          <div class="space--md"></div>
        <div class="">

           <audio id="audio-player-{{audio.id}}" controls="controls" style="width:100%">
              <source src="{{site.img}}/pages/{{page.id}}/audio/{{audio.id}}.mp3" type="audio/mpeg">
              <source src="{{site.img}}/pages/{{page.id}}/audio/{{audio.id}}.ogg" type="audio/ogg">
            </audio>
        </div>

      </div>

      {% endfor %}
    </div>
  </div>

</div>



{% include page/harvey.html %}
