// general styles for the project that wouldn't be a reuseable component



/* ==========================================================================
   Divider
   ========================================================================== */



.bv-divider::after {
  content: ('––');
  display: block;
  color: $vf-pink;
  //font-size: $s6;
  letter-spacing: -8px;
  margin: 0 0 -2px 2px;
}



.bv-arrow {

    font-family: $font-title-01;
    left: 50%;
    width: 1.7em;
    height: 1.7em;
    margin: 0 auto;
    background-repeat: no-repeat ;
    background-image: url('../img/icons/arrow-left.svg');
    background-size: auto (1.2em/.6);
    background-position: 52% center;
    transform: rotate(270deg);
  }



/* ==========================================================================
   Gradient
   ========================================================================== */



.bv-brand-gradient {
  background-color: $vf-pink; /* For browsers that do not support gradients */
  background-image: linear-gradient(-45deg, $vf-gr-orange, $vf-gr-pink); /* Standard syntax (must be last) */
}

.bv-black-gradient {
  background-color: $black; /* For browsers that do not support gradients */
  background-image: linear-gradient(-45deg, $black, $black); /* Standard syntax (must be last) */
}

/* ==========================================================================
 Collapsible
========================================================================== */

.bv-btn-accordion {
  margin-bottom: 3px;

  @include bp($xxxl){
    margin-bottom: 4px;
  }
}

.bv-accordion-count{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid $white;
  float: left;
  @include bp($lg){
    margin-right: 20px;
    padding-right: 13px;
  }
}

.accordion {
    cursor: pointer;
    width: 100%;
    height: 68px;
    padding: 14px;
    transition: 0.4s;

    @include bp($lg){
      //height: 100px;
      padding: 20px;
        background-color: rgba($bv-accordion-color, 1);
    }
}

.accordion::after{
  content: url(../img/icons/close.svg);
  transform: scale(.24) rotate(-45deg);
  display: block;
  margin-top: -45px;
  //margin-bottom: -18px;
  margin-left: 94%;
  transition: all 0.3s ease-out;

  @include bp($lg){
    display: block;
    //margin-top: -53px;
    margin-bottom: -18px;
    margin-left: 96%;
  }

  @include bp($xl){
    display: block;
    //margin-top: -58px;
  }
}
.accordion:hover{
  background-color: rgba($bv-accordion-color, 0);
  color: $white;
 }

.bv-active{
  background-color: rgba($black, 0);
  color: $white;
 }

.bv-active::after {
  content: url(../img/icons/close.svg);
  transform: scale(.25) rotate(0deg);
  margin-left: 93%;
  transition: all 0.3s ease-out;
  //margin-top: -50px;

  @include bp($lg){
    transform: scale(.25) rotate(0deg);
    margin-left: 96%;
    transition: all 0.4s ease-out;
    //margin-top: -58px;
  }
}

.bv-active-caption{
 //background-color: rgba($black, .65);
 background-image: linear-gradient(-180deg, rgba($black, .1), rgba($black, .8)); /* Standard syntax (must be last) */
 color: $white;

 @include bp($xxxl){

  //  background-color: rgba($black, .55);
    color: $white;
 }
}

.bv-collapsible {
  cursor: pointer;
}

.bv-content {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  display: flex;
  align-items: flex-end;
  background-color: rgba($black, 0);
}


/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;
    }
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

      }

}
