---
layout: page
title: Sauna
id: sauna
content-pages: true
nav: true
nav-order: 3

banner:
  title: Saunakultur
  title-sub: Wellness auf finnische Art
  bg-pos: "background-position: 90% center;"
  opacity: "opacity: .7;"
  padding: "padding:8px;"

intro: "Kaum etwas ist so finnisch wie die Sauna. Über 3 Millionen Saunen finden sich in den Wellness-Zentren und Gartenhäuschen des Landes, fast eine Sauna pro Kopf. Im Dezember 2020 wurde die finnische Saunakultur auf UNESCOs Liste des immateriellen Welterbes aufgenommen. Zurecht, schließlich wäre die Welt ohne die Rauch-, Feuer und Eissaunen Finnlands ärmer. Finden Sie heraus, wo einige der besten davon zu finden sind und lernen Sie, wie man wie ein echter Finne schwitzt."

sections:

  - title: So saunieren Sie richtig
    id: one
    type: gallery
    intro: >
      <p class="text--lg">Wie verhalten sich die Finnen bei ihrer liebsten Beschäftigung? Hier sind zehn kleine Ratschläge, um das beste aus dem Wellnessritual zu machen.</p>

    pois:

      title:
      items:

        - title: Sauna ist für alle da
          id: one-1
          content: "Sauna ist das verbindende Element zwischen Jung und Alt, zwischen allen Schichten und Geschlechtern. Es macht einen nicht nur rein und federleicht, Saunieren stärkt die Abwehr und hat einen sozialen Aspekt."

        - title: Sich der Hitze überlassen
          id: one-2
          content: "Finnische Sauna, das heißt Aufguss. Wenn das Wasser auf den heißen Steinen zischend verdampft, entsteht löyly, eine tiefe Hitzewelle, die über die Saunierenden rollt. Achtung: sie ist umso heißer, je höher Sie sitzen!"

        - title: Sauna-Einladung ist eine Ehre
          id: one-3
          content: "Saunieren verbindet. Saunaabende sind zwischen Freunden, Kollegen und Nachbarn überaus geläufig, hier werden oft wichtige Entscheidungen getroffen. Allein deshalb ist eine Einladung eine Ehre, die nicht leichtfertig ausgeschlagen werden will (vor allem, wenn es in die Privatsauna geht)."

        - title: Kein Schnickschnack erwünscht
          id: one-4
          content: "Echt finnische Sauna ist pur und hat nichts mit farbiger Beleuchtung oder Wellness-Musik zu tun. Das einzige Geräusch, das Sie hören, ist das Knacken der Hitze, das Zischen des Aufgusses und das erleichterte Ächzen der Saunierenden. "

        - title: Vasta oder Vihta
          id: one-5
          content: "Damit sind frische Birkenzweige gemeint. Ähnlich wie in der russischen Banja ist es Tradition, sich mit den Zweigen abzuklopfen. Es ist natürliches Peeling für Ihre Haut - und macht Spaß."

        - title: Viel Wasser trinken
          id: one-6
          content: "Um den Wasserverlust auszugleichen ist es wichtig, genug zu trinken. Beliebt sind neben Wasser auch Bier und Cidre, oft wird der Saunagang mit einem Grillevent kombiniert und kleine Würstchen stillen den kleinen Hunger."

        - title: Stille
          id: one-7
          content: "Hören Sie das? So hört sich Tiefenentspannung an. Lassen Sie es, Sie müssen sich Ihrem Nachbarn jetzt nicht mitteilen. Ihre finnischen Freunde werden das zu schätzen wissen."

        - title: Abkühlen nicht vergessen
          id: one-8
          content: "Wichtig ist es, immer eine kleine Pause einzulegen. Aus der Sauna raus, sich kurz abkühlen, in den See oder in den Schnee springen. Etwas trinken, kurz aufatmen und dann: zurück ins Vergnügen."

        - title: Wichtigste Regel? Entspannung!
          id: one-9
          content: "Die finnische Sauna mag wichtig wie die Kirche sein, aber die wichtigste Regel ist: es gibt keine Regeln. Die Hauptsache ist, Sie haben eine erholsame Zeit und schwitzen alles Negative und Ungesunde raus. "



  - title: Traditionen und Experimente
    id: two
    type: articles
    intro: >
      <p class="text--lg">Ein Raum wird aufgeheizt, Wasser wird auf Steine gegossen, Dampf steigt auf. Ja, aber das ist nur der Anfang. Waren Sie schon einmal in einer Rauchsauna; sind Sie nach der Eissauna Eisschwimmen gegangen? </p>

    pois:

      title:
      items:

        - title: Rauchsauna
          id: two-1
          content: "Sie gilt als die traditionellste Form der finnischen Sauna. Das Einheizen einer Rauchsauna (Savusauna) mit Holz dauert länger, das Ergebnis ist jedoch ein ungewohnt sanftes Saunaerlebnis. Die Bänke können rußgeschwärzt sein, aber der eigentliche Qualm wird vor dem Betreten ausgelassen. Was bleibt ist angenehme Wärme, die zusätzlich desinfizierend wirken kann. Verbreitet ist dieser Saunatyp vor allem in den Provinzen Savo und Lappland. "

        - title: Kräutersauna
          id: two-2
          content: "Ebenso weich ist der Dampf in einer Kräutersauna, die auch außerhalb Finnlands verbreitet ist. Mit einer niedrigeren Temperatur um 60°C und einer größeren Luftfeuchtigkeit können Sie sich bei Ihrem Saunagang mehr Zeit nehmen und die angenehmen Kräuteraromen einatmen. Auch Ihre Füße können von Kräutern profitieren. Stellen Sie sich ein Fußbad zusammen, lehnen Sie sich zurück und lassen Sie die Natur ihre Arbeit machen. "

        - title: Holzbeheizte Sauna
          id: two-3
          content: "Weit verbreitet außerhalb von Städten ist die holzbeheizte Sauna, die sehr oft mit Birkenholz befeuert wird. Genau das ist der Typus, den viele Finnen in ihren Sommerhäusern vorziehen. Anders als die Rauchsauna gibt es hier einen Schornstein und das Aufheizen der Sauna geht schneller vonstatten. Das Knacken des Holzes und das Brennen der Flammen sind angenehme Nebeneffekte, große Steine auf dem Saunaofen sorgen für viel löyly."

        - title: Eissauna
          id: two-4
          content: "Unerwartet? Dicke Eisblöcke mitten im Schnee bilden die Wände dieser Sauna und lassen gerade genug Licht nach Innen hinein. Der Ofen wird außerhalb der Eissauna beheizt und erst später hineingetragen, damit das Häuschen nicht so schnell schmilzt. Ist das nicht die perfekte Gelegenheit, um Nägel mit Köpfen zu machen und in einem Eisloch zu baden?"

        - title: Gondel-Sauna
          id: two-5
          content: "Punkte für Kreativität bekommt die einzige Sauna-Gondel der Welt. Im Skigebiet von Ylläs schwebt diese Wellnesskabine durch die Lüfte und kann 3 bis 4 Personen auf einer schweißtreibenden 20-minütigen Tour mitnehmen. Wetten, dass mit dem eisigen Panorama vor den Gondelfenstern die Wärme der Sauna umso spürbarer wird?"

        - title: Mobile Sauna
          id: two-6
          content: "Fast so mobil wie die Gondel-Sauna ist die Armeezelt-Sauna; etwas schneller unterwegs Richtung Entspannung sind Sie in einem mietbaren Saunabus. Natürlich wären die Finnen nicht die Finnen, wenn sie die Vielfalt ihrer Saunen nicht mit einem Festival zelebrierten. In Teuva werden bei der Mobilsauna-Schau die kleinsten Saunen vorgestellt, die zumeist nur eine Person fassen.  "



  - title: Unsere liebsten Saunen
    id: three
    type: list
    intro: >
      <p class="text--lg">Fest steht, wenn wir jemals das skandinavische Land bereisen, dann werden diese sechs Saunen auf unserer To-Do-Liste stehen. Designtempel, unverfälschtes Saunieren zwischen Gleichgesinnten oder Gedichte und Aufgüsse? </p>

    pois:

      title:
      items:

        - title: Löyly, Helsinki
          id: three-1
          bg-pos: "background-position: bottom center;"
          content: "Oft, zu oft werden Spa-Einrichtungen Wüstenoasen gleichgestellt. Im Falle von Löyly in Helsinki scheint der Vergleich überaus treffend. Schon von weitem zieht die auffällige Holzfassade den Blick auf sich; das simple und wirkungsvolle Sauna-Menü sorgt mit Rauchsauna und einer holzbeheizten Sauna für wärmende Erlebnisse. Zur Abkühlung ist der Außenpool gut, aber das Beste an Löyly ist vielleicht seine Außenterrasse, wo der Blick ungehindert im Angesicht der finnischen Ostsee meditieren kann."

        - title: Saana, Kuopio
          id: three-2
          bg-pos: "background-position: bottom center;"
          content: "Eine weitere hölzerne Wellness-Loge ist Saana in Kuopio. Am Ufer des Kallavesi-Sees in der Provinz Savo gelegen, bietet sie pure Entspannung in Form einer gemischten Sauna, Whirlpools und Erlebnisduschen. Ein Erlebnis ist auch der See - nachdem Sie sich im hauseigenen Restaurant etwas gestärkt haben, können Sie ihn genauer erkunden (vorausgesetzt Sie haben Ihr Boot vor Saana geparkt). "

        - title: Kuurakaltio, Kiilopää
          id: three-3
          bg-pos: "background-position: bottom center;"
          content: "Brr! Wie gut, dass wir im Warmen sind. Die Kuurakalltio Sauna in Lappland liegt schon sehr weit nördlich - so weit, dass dort die Mitternachtssonne und die Nordlichter im harmonischen Wechsel die Jahreszeiten ausleuchten. Besonders der Kiilopää-Berg macht diese Sauna zum Magneten. Ski, Schneeschuhwanderungen, Aurora borealis - so pur und konzentriert offenbart sich hier Finnland. "

        - title: Kulttuurisauna, Helsinki
          id: three-4
          bg-pos: "background-position: bottom center;"
          content: "Kultur und Sauna ergeben Kulttuurisauna. Schlichte Ästhetik geht in dieser 2012 eröffneten Sauna Hand in Hand mit einem Sinn für geistige Freuden. Von Gedichtvorträgen bis zu Lesungen ist alles vertreten, trotzdem liegt der Fokus auf entspannendem Schwitzen in der Gruppe. Und da das Häuschen direkt am Wasser steht, ist Abkühlung nie weit entfernt."

        - title: Rajaportin Sauna, Tampere
          id: three-5
          bg-pos: "background-position: bottom center;"
          content: "Sie haben ein Herz für Geschichte? Dann auf nach Tampere, wo die älteste, noch in Betrieb stehende öffentliche Sauna Finnlands zu finden ist. Genauso wie in ihrem Baujahr 1906 wird die Rajaportin Sauna noch heute mit Holz beheizt und ist nach fünf Stunden bereit für Gäste. Das Hofcafé rundet das traditionelle, ungezwungene Erlebnis mit Saunawürstchen und Zimtschnecken ab."


        - title: Lonna, Helsinki
          id: three-6
          bg-pos: "background-position: center center;"
          content: "Auch unser letzter Saunafavorit ist - wo kann es auch sein - in Helsinki. Genauer gesagt auf der Insel Lonna, die mit dem gleichnamigen Haus perfekt für einen Tagesausflug ist. Mit der Fähre in 10 Minuten vom Festland zu erreichen, kommen Sie hier in den Genuss einer holzbeheizten Sauna, eines Restaurants und von ganz viel Ruhe und Meer. "





---


{% include page/intro.html %}

{% include page/gallery.html %}
{% include page/articles.html %}
{% include page/list.html %}
{% include page/finland.html %}
