---
layout: page
title: Naturerlebnisse
id: naturerlebnisse
content-pages: true
nav: true
nav-order: 2

banner:
  title: Naturerlebnisse
  title-sub: Wild, weit und unberührt
  bg-pos: "background-position: 90% center;"
  opacity: "opacity: .8;"
  padding: "padding:8px;"

intro: "Das finnische Selbstverständnis ist fest mit Natur verbunden. Unterwegs in den zahllosen Wäldern, Seen und Fjells (Bergen) kommen Sie dem nationalen Selbstverständnis auf die Spur, mit etwas Glück auch einem Bären oder Adler. Finden Sie heraus, welche Nationalparks Sie nicht verpassen sollten, ob Glasiglus etwas für Sie sind und welche weiteren Wunder Sie erwarten."


map:

  - id: one
    title: Nationalparks und Wälder
    description: "Schärenmeer, Seen, Sümpfe, Fjells - Finnlands 40 Nationalparks decken eine große Bandbreite ab. Dank des Jedermannsrechtes und der gut ausgebauten Infrastruktur mit Pfaden, Informationstafeln, Zeltplätzen und Miethütten kann jeder leicht in den Genuss der Nationalparks kommen. Sie wollen tagelang nichts als Natur um sich haben? Der Urho-Kekkonen-Nationalpark in der arktischen Wildnis reiht 200 km sichere Pfade aneinander. Sie suchen eher nach einem kurzen Ausflug? Nuuksio ist von Helsinki leicht zu erreichen - nehmen Sie Ihr Zelt mit."

  - id: two
    title: Land der tausend Seen
    description: "Bereits ein Blick auf die Karte erklärt den Namen: Insgesamt 188.000 Seen sind es, die das nördliche Land besprenkeln, vom Stadtgebiet Helsinkis bis zum Inari-See in Lappland. Die meisten befinden sich in der Seenplatte, dem größten zusammenhängenden Seegebiet Europas, das auf Hunderten von Kilometern vor Inseln, Flüssen, Kanälen und Wäldchen strotzt. Bereisen Sie die finnische Seelenlandschaft per Boot oder verbringen Sie sommerhelle Tage und Nächte in Ihrem Sommerhaus, an Ihrem See auf Zeit."

  - id: three
    title: Wilde Tiere beobachten
    description: "Dort, wo sich Fuchs und Hase Gute Nacht sagen, in Finnland also, haben Sie immer wieder die Chance, Wildtiere und Vögel in unberührten Landschaften zu sichten. Darunter sind endemische Arten, wie die Saimaa-Ringelrobbe, aber auch klassisch europäische Waldbewohner, wie Wölfe und Luchse, beide jedoch scheu und selten anzutreffen. Ähnlich menschenscheu sind die 1.500 Bären des Landes, die die Finnen verehren; ab Juni sind diese Braunen mitten in ihrer Paarungszeit. Wenn Sie in den Norden des Landes vordringen, dürfen Sie auf Hermeline, Vielfrasse und Bartkäuze gespannt sein. "




sections:

  - title: Erlebnis Mitternachtssonne
    id: one
    description: >
      <p class="text--lg">Sommer! Ein einziger Sommertag in Finnland dauert zwei Monate, wenn die Natur die harten Wintermonate mit Mitternachtssonne vergilt. Die Sonne selbst ist nur hinter dem Polarkreis sichtbar, die Nächte sind aber überall weiß und die Grenzen zwischen Nacht und Tag verschwimmen angenehm. Auch ohne die üblichen Festivals und Events in diesen Sommermonaten ist dieses Phänomen allein eine Reise wert.  Verlängern Sie Ihren Tag im Schein der roten Sonne, schwimmen, angeln, wandern Sie, und beobachten Sie Tiere und Vögel, die sich nicht wie sonst ins Dunkel hüllen.</p>


  - title: Auf dem Sattel in die Wildnis
    id: two
    description: >
      <p class="text--lg">Mountainbike-Asse: In Syöte testen Sie Ihre Skills knapp vor dem Polarkreis. Mehrere Schwierigkeitsstufen und interessantes Terrain machen diese Route aus. Hier wechseln sich Fichtenwälder mit Sümpfen ab, zerklüftete Landschaften, Steine und Wurzelwerk fügen weitere Herausforderungen hinzu. Achtzig Kilometer an Routen sind klar gekennzeichnet, mit Markierungen an den Bäumen, auch Offroadfahren ist erlaubt, vorausgesetzt, Sie achten auf die Natur und die Vorschriften. Dann steht dem Zweiradabenteuer eigentlich nichts mehr im Wege.</p>


  - title: Raus aufs Land
    id: three
    description: >
      <p class="text--lg">Der finnische Ökotourismus boomt, was auch an der großen Anzahl an Bio-Bauernhöfen liegt, die Landidylle und Bio-Lebensmittel perfektioniert haben. Ein perfekter Urlaub, wenn Sie es einfach und naturnah lieben. Machen Sie den Sprung von Helsinki nach Haitalla, wo Sie sich auf Wunsch als Erntehelfer versuchen oder auf Islandpferden ausreiten können. Vielerorts - wie in Puukarin Pysäkki in Karelien - können Sie übernachten und werden mit Bio-Gemüse und selbstgebackenem Brot verwöhnt. Natürlich darf die Sauna nicht fehlen - an der Kräuterfarm Frantsilak kommen Sie in den Genuss von Blumenfeldern, Torfsaunen und finnischer Land-Wellness.</p>


  - title: Köstlichkeiten aus der Natur
    id: four
    description: >
      <p class="text--lg">Es ist Sommer, die Sonne steht hoch und die Natur ist eine Vorratskammer, prall gefüllt mit Frischem und Gutem. Pilze und Beeren, in der Wildnis gepflückt, wildwachsende Kräuter und essbare Blüten garnieren einfache und gesunde Mahlzeiten, junge Sommerkartoffeln, selbst geangelter Fisch, geräuchert oder über dem Lagerfeuer gegart ist das Richtige. Jetzt, wo Tage endlos sind, möchte man das Beste aus der Zeit machen. Deswegen am besten raus, flugs einen Tisch am See aufgestellt, ein Picknick im Park, gemeinsam kochen und gemeinsam genießen, jetzt, wo die Luft lau und das weiche Licht alle Konturen nachzeichnet. </p>


  - title: Felsklettern in Finnland
    id: five
    description: >
      <p class="text--lg">Doch, auch Kletterer finden in Finnland ihr Glück. Die Rede ist von der Olhava-Klippe im Repovesi-Nationalpark, deren steile Felswand zum Klettern und Abseilen sehr beliebt ist. Fast hundert Kletterrouten führen am höchsten Kliff Finnlands nach oben, dabei immer wieder mit der pittoresken Aussicht auf den See und den umliegenden Wald. Für Eiskletterer wird im Winter Korouma sicherlich sehr interessant sein, eine vereiste Wasserfall-Landschaft, doch auch im Sommer mit vielen zerklüfteten Canyons eine gute Wahl. </p>


  - title: Naturnah übernachten
    id: six
    description: >
      <p class="text--lg">Warum im Hotel einchecken, wenn es Glasiglus unter freiem Himmel gibt? Aufwachen mit der Mitternachtssonne oder aus dem warmen Bett Nordlichter bewundern - die berühmten Glasunterkünfte sind im ganzen Land verstreut. Abgelegen nächtigen Sie auch in umgebauten Leuchtturminseln, wie dem Arctic Lighthouse Hotel oder den Fischerhütten auf der Insel Klobben. Wenn es Sie nach Digital Detox und Wildnis verlangt, könnten Villen oder klassische Ferienhäuser wie Hawkhill ansprechend sein. Gigantisch sind schließlich die Eindrücke am Arctic Giant Birdhouse Hotel, hoch am Fjell, vor allem in der kälteren Jahreszeit erhaben wie nichts anderes.</p>

---



{% include page/intro.html %}


<div class="row row--xxl-6-6 row--no-gutters ">

  <div class="col col--xxl-6 ">
       <div class="bv-highlights-section-">

          <div class="map" id="map">  </div>
      </div>
  </div>
    <div class="col col--xxl-6" >

      <div class="tabbed">
       <input checked="checked" id="tab1" type="radio" name="tabs" />
       <input id="tab2" type="radio" name="tabs" />
       <input id="tab3" type="radio" name="tabs" />

       <nav class="bg--grey-lightest">
          <a class="" id="bv-pin1-"><label for="tab1" class="bv-map-one p text--upper text--bold p--xs">Nationalparks</label></a>
          <a class="" id="bv-pin2-"><label for="tab2" class="bv-map-two p text--upper text--bold p--xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></a>
          <a class="" id="bv-pin3-"><label for="tab3" class="bv-map-four p text--upper text--bold p--xs">Wildtiere</label></a>
       </nav>
       <figure>
         {% for map in page.map %}
          <div class="tab{{forloop.index}}">
            <div class="hpad--xxl vpad--xl text--white">
              <h1 class="h h--md bv-divider text--pink">{{map.title}}</h1>
              <div class="space--sm"></div>
              <h2 class="text text--lg text--normal ">{{map.description}}</h2>
            </div>
          </div>
         {% endfor %}


       </figure>
       <div class="space--md"></div>
     </div>
    </div>
</div>

{% include page/harvey.html %}

{% include page/map/map.html %}
{% include page/finland.html %}
